.search {
    width:100%;
    background: rgba(255, 255, 255, 0.3);
}
.content{
    width:100%;
}
.Form {
    width: 50%;
}
table {
    width: 50%;
}
.productTable {
    width:50%;
}
.productCategory {
    width:100%;
}
.ProductRow {
    width:50%;
    text-align: center;
}
